In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Initilisation / upload of librairies
!pip install import_ipynb
!pip install panda
import os
import import_ipynb
import pandas as pd
import numpy as np
from datetime import datetime
import os

class style():
  BLACK = '\033[30m'
  RED = '\033[31m'
  GREEN = '\033[32m'
  YELLOW = '\033[33m'
  BLUE = '\033[34m'
  MAGENTA = '\033[35m'
  CYAN = '\033[36m'
  WHITE = '\033[37m'
  UNDERLINE = '\033[4m'
  RESET = '\033[0m'

%cd '/content/drive/MyDrive/Wild Code School/Kung Fu Pandas/Modules/'
from data_formatting import *

Collecting import_ipynb
  Downloading import-ipynb-0.1.3.tar.gz (4.0 kB)
Building wheels for collected packages: import-ipynb
  Building wheel for import-ipynb (setup.py) ... done
  Created wheel for import-ipynb: filename=import_ipynb-0.1.3-py3-none-any.whl size=2975 sha256=fdb355861a324dce2132b224b2b26b401e4302c141e6a35ba31c900390f4ff94
  Stored in directory: /root/.cache/pip/wheels/b1/5e/dc/79780689896a056199b0b9f24471e3ee184fbd816df355d5f0
Successfully built import-ipynb
Installing collected packages: import-ipynb
Successfully installed import-ipynb-0.1.3
Collecting panda
  Downloading panda-0.3.1.tar.gz (5.8 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from panda) (57.4.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from panda) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->panda) (2.10)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py) ... done
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7255 sha256=1f68e2b8396fc036607eb4957d541b9f23c9a087db1b1e962e4b6601baecb223
  Stored in directory: /root/.cache/pip/wheels/e6/3d/81/a3665ce657d35359ca337b1db2975dbe5cd281a88b8982f6b6
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1
/content/drive/.shortcut-targets-by-id/1iYrLEW3yrtr1S1PEjB-TFMG9lQLdWpC1/Kung Fu Pandas/Modules
importing Jupyter notebook from data_formatting.ipynb

In [ ]:
#import data tables from 'movies data repertory'
file_path = '/content/drive/MyDrive/Wild Code School/Kung Fu Pandas/Database/Movies_data/'
separator = "\t"
file_names = {'titl2_df':'title.basics.tsv.gz',
              'titl1_df':'title.akas.tsv.gz',
              'crew_df':'title.crew.tsv.gz',
              'principals_df' :'title.principals.tsv.gz',
              'rating_df':'title.ratings.tsv.gz',
              'name_df':'name.basics.tsv.gz'}
          
df_dict = {'titl2_df':'','titl1_df':'','crew_df':'','principals_df':'','rating_df':'','name_df':''}
columns_names = {'titl2_df':['titleID','titletype','primarytitle','originaltitle','isadult','startyear','endyear','runtimeminutes','genre'],
                 'titl1_df':['titleID','ordering','title','region','country','language','types','attributes','isoriginaltitle'],
                 'crew_df' :['titleID','directors','writers'],
                 'principals_df':['titleID','ordering','nameID','category','job','characters'],
                 'rating_df':['titleID','averagerating','numvotes'],
                 'name_df':['nameID','name','birthyear','deathyear','primaryprofession','mainmovies']}

for keys,values in df_dict.items():
  df_dict.update({keys : import_database(file_path,file_names[keys],separator,columns_names[keys])})

In [ ]:
#-------------------------------------------------
#NEW CODE FOR IMPORT TOP RATING MOVIES "COUNTRIES"
#-------------------------------------------------

#Import countries(ImdB scraping)
file_path = '/content/drive/MyDrive/Wild Code School/Kung Fu Pandas/Database/Imdb scrapping/'
separator = "\t"
file_name = 'countries.tsv.gz'   
columns_names = ['titleID','title','country']
df_countries_imdb = import_database(file_path,file_name,separator,columns_names)

In [ ]:
#-------------------------------------------------
#NEW CODE FOR IMPORT URL / SYNOPSIS
#-------------------------------------------------

#import url & synopsis (ImdB scrappin Antony)
file_path = '/content/drive/MyDrive/Wild Code School/Kung Fu Pandas/Database/Imdb scrapping/'
separator = "\t"
file_name = 'synopsis_poster.csv'  
columns_names = ['titleID','title','country']
df_synopsis_poster_imdb = pd.read_csv(file_path+file_name,sep=',')
df_synopsis_poster_imdb = df_synopsis_poster_imdb.drop(columns='Unnamed: 0')

In [ ]:
df_countries_imdb = df_countries_imdb.loc[:,['titleID','country']]
df_countries_imdb['country'] = df_countries_imdb.loc[:,'country'].apply(lambda x: x.strip("[]' "))
df_countries_imdb['country'] = df_countries_imdb['country'].apply(lambda x: x.replace("'",""))

In [ ]:
#Choice 2 : filtering titl1 data
df_dict['titl1_df'] = df_dict['titl1_df'][df_dict['titl1_df']['isoriginaltitle'] == 1]
df_dict['titl1_df'].drop_duplicates(subset='titleID',inplace=True,keep='last')

In [ ]:
#Suppression of unecessary columns (not to be used by the ML model)
df_dict['titl2_df'] = df_dict['titl2_df'].drop(columns=['titletype','primarytitle','originaltitle','endyear']) 
df_dict['titl1_df'] = df_dict['titl1_df'].drop(columns=['ordering','region','language','types','attributes','isoriginaltitle','country'])
df_dict['principals_df'] = df_dict['principals_df'].drop(columns=['ordering','job','characters'])
df_dict['name_df'] = df_dict['name_df'].drop(columns=['birthyear','deathyear','primaryprofession','mainmovies'])

In [ ]:
df_directors = df_dict['principals_df'][df_dict['principals_df']['category'] == 'director']

In [ ]:
df_directors = pd.merge(df_directors,df_countries_imdb,on='titleID',how='inner')
df_directors.drop_duplicates(subset='titleID',inplace=True,keep='first')
df_directors.drop(columns='country',inplace=True)
df_directors = pd.merge(df_directors,df_dict['name_df'],how='left',on='nameID')
df_directors.drop(columns=['category','nameID'],inplace=True)
df_directors.rename(columns={'name' : 'director'},inplace=True)

In [ ]:
df_actors = df_dict['principals_df'][df_dict['principals_df']['category'] == 'actor']
df_actress = df_dict['principals_df'][df_dict['principals_df']['category'] == 'actress']

In [ ]:
df_act = pd.concat([df_actors,df_actress])
df_act = pd.merge(df_countries_imdb,df_act,how='left',on='titleID')

In [ ]:
df_act = pd.merge(df_act,df_dict['name_df'],how='left',on='nameID')

In [ ]:
df_act.head(5)

     titleID        country     nameID category           name
0  tt0006864  United States  nm0366008    actor  Robert Harron
1  tt0006864  United States  nm0877548    actor    F.A. Turner
2  tt0006864  United States  nm0001273  actress   Lillian Gish
3  tt0006864  United States  nm0550615  actress      Mae Marsh
4  tt0010323        Germany  nm0470328    actor  Werner Krauss

In [ ]:
df_act.drop(columns=['country','category','nameID'],inplace=True)

In [ ]:
df_act = df_act.astype(str)
nb_max_actors_per_movie = df_act['titleID'].value_counts().max()
print(nb_max_actors_per_movie)
# 10 actors max per movie

10

In [ ]:
df_act = df_act.groupby('titleID')['name'].apply(','.join).reset_index()

In [ ]:
df_act.head(1)

     titleID                                              name
0  tt0006864  Robert Harron,F.A. Turner,Lillian Gish,Mae Marsh

In [ ]:
df_act = df_act['name'].str.split(',',expand=True,)

In [ ]:
df_act = df_act.fillna('unknown')

In [ ]:
df_act

                         0  ...                 9
0            Robert Harron  ...           unknown
1            Werner Krauss  ...           unknown
2               B.F. Blinn  ...  Nellie Bly Baker
3           Einar Axelsson  ...           unknown
4     Benjamin Christensen  ...           unknown
...                    ...  ...               ...
5455      David Strathairn  ...           unknown
5456           Chris Pratt  ...           unknown
5457        Daniel Kaluuya  ...           unknown
5458           Hakim Faris  ...           unknown
5459          Payman Maadi  ...           unknown

[5460 rows x 10 columns]

In [ ]:
#Merge tables
merged_df = pd.merge(df_dict['titl1_df'],df_dict['titl2_df'],how='left',on='titleID')
merged_df = pd.merge(merged_df,df_dict['rating_df'],how='left',on='titleID')
merged_df = pd.merge(merged_df,df_directors,how='left',on='titleID')

In [ ]:
merged_df

          titleID  ... director
0       tt0000502  ...      NaN
1       tt0000574  ...      NaN
2       tt0000591  ...      NaN
3       tt0000615  ...      NaN
4       tt0000630  ...      NaN
...           ...  ...      ...
420442  tt9916362  ...      NaN
420443  tt9916428  ...      NaN
420444  tt9916622  ...      NaN
420445  tt9916680  ...      NaN
420446  tt9916754  ...      NaN

[420447 rows x 9 columns]

In [ ]:
#Getting movies countries from dataframe df_countries_imdb (already filtered with nb votes and average rating)
merged_df = pd.merge(df_countries_imdb,merged_df,how='left',on='titleID')
#Getting movies synopsis and url  from dataframe df_synopsis_poster_imdb (already filtered nb votes and average rating)
merged_df = pd.merge(merged_df,df_synopsis_poster_imdb,how='left',left_on='titleID',right_on='imdb_id')

In [ ]:
merged_df.head(1)

     titleID  ...                                         poster_url
0  tt0006864  ...  https://www.themoviedb.org/t/p/original/mATFEp...

[1 rows x 13 columns]

In [ ]:
#Suppression of IDs (no more merge needed)
merged_df.drop(columns=['imdb_id'],inplace=True)

In [ ]:
#saving merged_df as ML_DataFrame.csv
file_path = '/content/drive/MyDrive/Wild Code School/Kung Fu Pandas/Database/Machine learning Dataset/'
file_name = 'ML_dataFrame.csv'
merged_df.to_csv(file_path+file_name,sep=',',index=False)

In [ ]:
#Filling NaN

In [ ]:
merged_df.isna().sum()

titleID             0
country             0
title               0
isadult             0
startyear           0
runtimeminutes      0
genre               0
averagerating       0
numvotes            0
director          262
synopsis            1
poster_url          2
dtype: int64

In [ ]:
merged_df.fillna('unknown',inplace=True)

In [ ]:
merged_df.shape

(5460, 12)

In [ ]:
#Get dummies for 'genre' & 'countries' & Directors
genre_df = pd.get_dummies(merged_df['genre'].str.split(',',expand=True).replace({None:np.nan}).stack()).groupby(level=0).max()
countries_df = pd.get_dummies(merged_df['country'].str.split(',',expand=True).replace({None:np.nan}).stack()).groupby(level=0).max()
directors_df = pd.get_dummies(merged_df['director'].str.split(',',expand=True).replace({None:np.nan}).stack()).groupby(level=0).max()
ML_model_df = pd.merge(merged_df,genre_df,left_index=True,right_index=True)
ML_model_df = pd.merge(ML_model_df,countries_df,left_index=True,right_index=True)
ML_model_df = pd.merge(ML_model_df,directors_df,left_index=True,right_index=True)

In [ ]:
ML_model_df.shape

(5460, 2571)

In [ ]:
#Define Model
from sklearn.neighbors import NearestNeighbors
y = ML_model_df[['title']]
#X = ML_model_df.drop(columns=['titleID','title','isadult','runtimeminutes','genre','averagerating','numvotes','country','synopsis','poster_url','director'])
X = ML_model_df.iloc[:,12:]
n_neighbors = 10
model = NearestNeighbors(n_neighbors=n_neighbors)
model.fit(X)

NearestNeighbors(n_neighbors=10)

In [ ]:
###################################
########  USER INTERFACE ##########
###################################

check = 'nok'
while check == 'nok' :
  print(style.BLUE,'\033[34m',"\nEnter movie key word",style.WHITE,)                 
  title = input('')
  list_movies = []
  list_index = ML_model_df['title'].index[ML_model_df['title'].str.contains(title)].to_list()
  if len(list_index) == 0 :  #no match
    print(style.BLUE,'\033[34m',"\nNo movie matching your request, please enter new key words",style.WHITE)
  else :
    for index in list_index :
      list_movies.append(ML_model_df.loc[index,'title'])
    if len(list_movies) > 10:
      print(style.BLUE,'\033[34m',"\nToo many movies match with you input, please refine your research",style.WHITE)
    else :
      print(style.BLUE,'\033[34m','\nDoes one of these movie matches with your request?',style.WHITE)
      print(list_movies)
      print(style.BLUE,'\033[34m','\nPlease enter Y / N',style.WHITE)
      match = input((''))
      if match == 'N':
        print(style.BLUE,'\033[34m','\nPlease retry with other key words',style.WHITE)
      elif match =='Y':
        while check == 'nok' :
          print(style.BLUE,'\nPlease enter the full name : ',style.WHITE)
          title = input('')
          if (ML_model_df['title'] == title).sum() > 0 :
            #X_input = ML_model_df[ML_model_df['title'] == title].drop(columns=['titleID','title','isadult','runtimeminutes','genre','averagerating','numvotes','country','synopsis','poster_url','director'])
            X_input = ML_model_df[ML_model_df['title'] == title].iloc[:,12:]
            check = 'ok'
          else :
            print(style.BLUE,'\033[34m','\nWrong name, try again',style.WHITE)         
      
results = model.kneighbors(X_input)
merged_df.loc[[i for i in results[1][0,:]],['title','startyear','genre','director','runtimeminutes','isadult','averagerating','numvotes','synopsis','poster_url']]

Enter movie key word
Django

Does one of these movie matches with your request?
['Django', 'Django Unchained']

Please enter Y / N
Y

Please enter the full name :
Django Unchained

                      title  ...                                         poster_url
4264       Django Unchained  ...  https://www.themoviedb.org/t/p/original/7oWY8V...
292           Johnny Guitar  ...  https://www.themoviedb.org/t/p/original/slMEKs...
1215             Pale Rider  ...  https://www.themoviedb.org/t/p/original/yUqCtt...
497                     Hud  ...  https://www.themoviedb.org/t/p/original/54HnZL...
334                   Giant  ...  https://www.themoviedb.org/t/p/original/alRcXV...
480   Ride the High Country  ...  https://www.themoviedb.org/t/p/original/oBdJli...
5426              First Cow  ...  https://www.themoviedb.org/t/p/original/yS41cr...
1788           Pulp Fiction  ...  https://www.themoviedb.org/t/p/original/d5iIlF...
5174              The Rider  ...  https://www.themoviedb.org/t/p/original/cFsrA0...
602           Hang 'Em High  ...  https://www.themoviedb.org/t/p/original/gFvRKg...

[10 rows x 10 columns]

In [ ]:
results[1][0,:]

array([4264,  292, 1215,  497,  334,  480, 5426, 1788, 5174,  602])

In [ ]:
[i for i in results[1][0,:]]

[4264, 292, 1215, 497, 334, 480, 5426, 1788, 5174, 602]